INBOXTEMP="/mnt/inboxtemp"
OUTBOXTEMP="/mnt/outboxtemp"
SOURCETEMP="/mnt/sourcetemp"
RGNAME="walledgarden"
AZSTORAGE="walledgarden2"
az login --identity
AZACCOUNTKEY=$(az storage account keys list -g $RGNAME -n $AZSTORAGE --query "[?keyName == 'key1'].{value:value}" -o tsv)
INBOXCONTAINER="inbox"
OUTBOXCONTAINER="outbox"
SOURCECONTAINER="source"
FUSEDIR="/fuse"
INBOXCONFIG="$FUSEDIR/$INBOXCONTAINER.cfg"
OUTBOXCONFIG="$FUSEDIR/$OUTBOXCONTAINER.cfg"
SOURCECONFIG="$FUSEDIR/$SOURCECONTAINER.cfg"
