INBOXTEMP="/mnt/resource/fusetmpinbox"
OUTBOXTEMP="/mnt/resource/fusetmpoutbox"
SOURCETEMP="/mnt/resource/fusetmpsrc"
RGNAME="walledgarden"
AZSTORAGE="walledgardentemp"
AZACCOUNTKEY=$(az storage account keys list -g $RGNAME -n $AZSTORAGE --query "[?keyName == 'key1'].{value:value}" -o tsv)
INBOXCONTAINER="inbox"
OUTBOXCONTAINER="outbox"
SOURCECONTAINER="source"
FUSEDIR="/fuse"
INBOXCONFIG="$FUSEDIR$INBOXCONTAINER.cfg"
OUTBOXCONFIG="$FUSEDIR$OUTBOXCONTAINER.cfg"
SOURCECONFIG="$FUSEDIR$OUTBOXCONTAINER.cfg"
