    VMNAME="$USER$(date +%s)" # creates the vm name based on the logged on user and the current epoch time to prevent name collisions
    RGNAME='walledgarden' #Azure Resource group 
    LOCATION='northcentralus'  # azure region to deploy to
    PUB='microsoft-ads'   # publisher of the linux data science VM
    OFFER='linux-data-science-vm-ubuntu'  # linux data science VM Offer  
    SKU='linuxdsvmubuntu' # linux data science VM SKU
    VERSION='latest' # linux data science VM version
    VNET='walledgarden' # VNET VMs will be deployed to
    SUBNET='resources' # subnet within the VNET VMs will be deployed to
    KEYVAULT='walledgarden' # keyvault name for storing Azure Disk Encryption Secrets
    TTL=86400 # Maximum Time to Live of VMs in seconds  86400 equals one day